<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
</head>
<body>
<h1>About us</h1>
We know a lot about a lot of things.
<h2>We're not sure about this one.</h2>
<h1>But we're sure about this one.</h1>

<a class="btn btn-primary" href="/">This should really be a button.</a>
<span>and it actually is! Amazing!</span>
<button class="btn btn-primary">Test button</button>
</body>
</html>